.slide-left {
  animation: 0.25s slide-left;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

.slide-right {
  animation: 0.25s slide-right;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slide-left-active {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -100%;
  }
}

.slide-left-active {
  animation: 0.25s slide-left-active;
}

@keyframes slide-right-active {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 100%;
  }
}

.slide-right-active {
  animation: 0.25s slide-right-active;
}
